/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: darkblue
}

h1 {
    text-align: left;
}

.container {
    margin: 0 auto;
    padding: 1rem;
}

.logo {
    border: solid thick white;
    box-shadow: 3px 3px 3px darkgray;
    border-radius: 50%;
}